.ml-1 {
    margin-left: 0.25rem;
}

.ml-2 {
    margin-left: 0.5rem;
}

.ml-3 {
    margin-left: 0.75rem;
}

.ml-4 {
    margin-left: 1rem;
}

.ml-5 {
    margin-left: 1.25rem;
}

.inlineh1 {
    display: inline;
}

pre {
    margin: 0;
}

// msdn like look

body .bg-dark .text-light {
	background-color: #171717;
}